<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.m2e.maveneclipse.facetconfigprovider" name="Facet Config Provider for maven-eclipse-plugin" schema="schema/org.eclipse.m2e.maveneclipse.facetconfigprovider.exsd"/>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.eclipse.m2e.maveneclipse.MavenEclipseProjectConfigurator"
            id="org.eclipse.m2.maveneclipse.configurator"
            secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.eclipse.m2e.maveneclipse.facetconfigprovider">
      <facetconfigprovider
            class="org.eclipse.m2e.maveneclipse.handler.additionalprojectfacets.JstWebFacetConfigProvider"
            facetid="jst.web">
      </facetconfigprovider>
   </extension>
</plugin>
